name: CI

on:
   workflow_dispatch:
   push:
      branches:
         - '*'

jobs:
   test-parsing:
      runs-on: ubuntu-latest
      defaults:
         run:
            working-directory: ./src/pars/unit-test/
      steps:
         - uses: actions/checkout@v2
         - run: bash tester.sh
